@import "variables.css";

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var( --MyFont );
    font-size: 1.6rem;
    /* background-color: var( --MainColor ); */
}

.contenedor {
    width: 95%;
    max-width: 171.2rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

